/** ------------ BODY ----------------- **/
html {
    scroll-padding-top: 0;
}

body {
    background-color: var(--theme-bg-primary, #261841);
}

body.body-default {
    background-color: var(--theme-bg-secondary, #f1eff3);
}

body.body-nav-contrast {
    background-color: var(--theme-bg-primary, #121212)!important;
}

/** ----------- SELECTION ------------- **/
::-moz-selection {
    color: $dark;
    background: lighten($primary, 15%);
}

::selection {
    color: $dark;
    background: lighten($primary, 15%);
}

/** ----------- SHADOWS ---------------- **/
.trace-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px, rgba(10, 10, 10, 0.15) 10px 10px;
}