/** ------------ BODY ----------------- **/
html {
    scroll-padding-top: 0;
}

body {
    background-color: var(--theme-nav-background);
    transition: background-color 0.3s ease;
}

body.body-default {
    background-color: var(--theme-background);
}

body.body-nav-contrast {
    background-color: var(--theme-nav-background)!important;
}

/** ----------- SELECTION ------------- **/
::-moz-selection {
    color: $dark;
    background: lighten($primary, 15%);
}

::selection {
    color: $dark;
    background: lighten($primary, 15%);
}

/** ----------- SHADOWS ---------------- **/
.trace-shadow {
    box-shadow: var(--theme-shadow) 5px 5px, var(--theme-shadow) 10px 10px;
}