/** ------------ BODY ----------------- **/
html {
    scroll-padding-top: 0;
}

body {
    background-color: var(--theme-bg-loader, $loader-background);
}

body.body-default {
    background-color: var(--theme-bg-body, $default-section-background);
}

body.body-nav-contrast {
    background-color: var(--theme-bg-sidebar, darken($nav-background, 3%))!important;
}

/** ----------- SELECTION ------------- **/
::-moz-selection {
    color: $dark;
    background: lighten($primary, 15%);
}

::selection {
    color: $dark;
    background: lighten($primary, 15%);
}

/** ----------- SHADOWS ---------------- **/
.trace-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px, rgba(10, 10, 10, 0.15) 10px 10px;
}