// This mixin generates dynamic styles based on a hash object containing breakpoint-specific styles.
// It loops through the provided styles for each breakpoint and applies them within the appropriate media query.
@mixin generate-dynamic-styles-with-hash($stylesHash) {
    @each $breakpoint, $styles in $stylesHash {
        @include media-breakpoint-down($breakpoint) {
            @each $property, $value in $styles {
                #{$property}: $value;
            }
        }
    }
}

// This mixin generates dynamic styles where the base sizes (e.g., font sizes, padding) are multiplied
// by different factors for each breakpoint. This allows scaling of styles based on the screen size.
@mixin generate-dynamic-styles-with-multipliers($baseSizes, $breakpointMultipliers) {
    @each $breakpoint, $multiplier in $breakpointMultipliers {
        @include media-breakpoint-down($breakpoint) {
            @each $property, $value in $baseSizes {
                #{$property}: $value * $multiplier;
            }
        }
    }
}

// This mixin ensures that elements are not split across pages when printing
@mixin page-break-avoid() {
    page-break-inside: avoid;
    page-break-after: avoid;
}

// This mixin creates page break styles
@mixin page-break() {
    page-break-before: always;
}