@import "variables";
@import "mixins";

// Theme transition
* {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

// importing bootstrap
@import "bootstrap/scss/bootstrap";

// importing core styling file
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
// our project needs Solid + Brands
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// importing PrimeIcons
@import "primeicons/primeicons.css";

@import "layout";
@import "typography";